*{
  font-family: 'Poppins';
  font-style: normal;
  margin: 0;
}
body{
  border: 1px solid black;
}
.symbols{
  width: 20px;
  height: 20px;
}

.topSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 74px;
}
.TSRightSide{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.TSRSitems{
  display: flex;
  justify-content: space-around;
  
}


/* ---------------------HEADER--------------------- */

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #003F62;
}
.headerLeftSide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 663px;
  height: 56px;
}
.search{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 438px;
  border-radius: 20px;
}
.search input{
  width: 90%;
  height: 56px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
  padding-left: 25px;
}
#searchBtn{
  width: 132px;
  height: 56px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #EDA415;
  border: 1px solid #EDA415;
  color: white;
}

.headerRightSide{
  display: flex;
  justify-content: space-between;
  width: 223px;
}
.signIn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.signIn:first-child a {
  color: white;
  text-decoration: none;
}

/* .signIn:nth-child(n+2){
  text-decoration: none;
  color: white;
  background-color: #EDA415;
  border-radius: 50px;
  width: 15px;
  height: 15px;
} */
.signIn div{
  text-decoration: none;
  color: white;
  background-color: #EDA415;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* ------------------MAIN MENU------------------ */

.mainMenu{
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.bigSubMenu{
  width: 218px;
  height: 70px;
  background-color: #EDA415;
  display: flex;
  justify-content: center;
  align-items: center;
}
.days{
  font-size: 16px;
  font-weight: 700;
  color: #003F62;
}

/* -------------------SLIDER------------------- */

.slider{
  width:100%;
  height: 394px;
  display: flex;
  justify-content: space-around;
  padding-top: 38px;
}

.sliderBtn{
  display: flex;
  justify-content: space-between;
  width: 310px;
}
.sliderRightSide{
  position: relative;
  height: 356px;
}
.sliderRightSide img{
  height: 356px;
  width: 331px;
}

.price{
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  right: -31px;
  bottom: 53px;
  font-weight: 600;
  font-size: 22px;
}
